*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Madimi One", serif;}
.big-container{
    width: 60%;
    height: 70%;
    margin: auto;
    margin-top: 30px;
}
.container img{
    width: 100%;
    height: 100%;
}
body{
    background-image: url(image.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
}
.big-container{
    position: relative;
    box-shadow: 10px 10px 5px #b30101;
}
.text{
    position: absolute;
    top: 100px;
    color: white;
    padding: 40px;
}
.text h1{
    margin-bottom: 30px;
    text-align: center;
    padding: 0 70px;
    font-size: 35px;
}
.text h2{
    margin-bottom: 50px;
}
.text h4{
    text-align: center;
    padding: 0 70px;
    font-size: 20px;
}
.mini-div h3{
    margin-top: 40px;
    border-style: double;
    border-color: white;
    width: 200px;
}